.banner-mainContainer {
  flex-grow: 0;
  flex-shrink: 0;
  position: relative;
  margin-right: 24px;
  flex-basis: calc(33.333% - 16px);
}
.banner-imageContainer{
  height: 240px;
  width: 100%;
  top: 0px;
  left: 0px;
  margin: 0px;  
}
.banner-image {
  object-fit: cover;
  height: 100%;
  width: 100%;
  min-width: 333px;
}
.banner-textContainer{
  margin-top: 10px;
}

.banner-categoryTag {
  color: rgb(117, 117, 117);
}
.banner-details {
  display: flex;
  flex: 1;
}
.banner-grayBox {
  background-color: rgb(245, 245, 245);
  text-align: center;
  line-height: 20px;
  font-size: 14px;
  display: flex;
  align-items: center;
  padding: 2px 8px;
  margin: 8px 8px 0 0;
}

@media screen and (max-width:800px){
  .banner-mainContainer {
    flex-basis: calc(-16px + 85vw);
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 12px, rgba(0, 0, 0, 0.04) 0px 6px 6px;
    border-radius: 6px;
  }
  .banner-image {
    min-width: unset;
  }
  .banner-imageContainer {
    max-height: 240px;
  }
}
