.category-container {
  margin-right: 24px;
  margin-left: 24px;
  flex-basis: calc(16.667% - 40px);
  min-width: 0px;
  flex-grow: 0;
  flex-shrink: 0;
  text-align: center;
}
.category-image {
  border-radius: 50%;
  padding-top: 100%;
  height: 0px;
  background-size: cover;
}
.categories-container {
  display: flex;
  transform: translateX(0%) translateX(-24px);
}
.category-title {
  margin-top: 5px;
}

@media screen and (max-width: 800px){
  .categories-container{
    overflow-x: scroll;
    padding-bottom: 30px;
    transform: unset;
  }
  .category-container {
    margin: 0px 8px;
    flex-basis: unset;
  }
  .category-image {
    height: 124px;
    width: 124px;
    padding-top: unset;
  }
}