.c-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.c-cities {
  margin-top: 24px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap:24px;
}
.c-textStyle {
  line-height: 24px;
  color: rgb(31, 31, 31);
}
.dt {
	grid-column-start: 1;
}
.e0 {
	grid-column-start: 2;
}
.e1 {
	grid-column-start: 3;
}
.e2 {
	grid-column-start: 4;
}
.du {
	grid-row-start: 1;
}
.dv {
	grid-row-start: 2;
}
.dw {
	grid-row-start: 3;
}
.dx {
	grid-row-start: 4;
}
.dy {
	grid-row-start: 5;
}
.dz {
	grid-row-start: 6;
}

@media screen and (max-width:800px){
	.c-cities{
		grid-template-columns: repeat(2, 1fr);
		row-gap: 24px;
		column-gap: 8px;
	}
	.e1 {
		display: none;
	}
	.e2 {
		display: none;
	}
}