.footer-container {
  padding: 72px 80px 88px 80px;
  margin-top: 80px;
  background-color: rgb(31, 31, 31);
}
.footer-contentTop {
  display: flex;
}
.footer-innerA {
  flex-direction: column;
  align-items: flex-start;
  flex: 2 1 0%;
  justify-content: space-between;
}
.footer-innerB {

}
.footer-innerC {

}
.footer-innerA-image {
  margin-bottom: 64px;
  height: 24px;
}
.footer-appStore {
  margin-right: 16px;
  height: 40px;
}
.footer-br {
  margin: 40px 0px;
  background-color: rgb(245, 245, 245);
  height: 1px;
  border: medium none;
}
