.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 80px;
  align-items: center;
  height: 80px;
  position: sticky;
  top:0;
  background-color: white;
  z-index: 3;
}
.header-scrolled {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px;
}
.searchBar{
  position: relative;
  display: flex;
  flex: 1;
  margin: 0px 64px;
}
.searchBar-scrolled {
  transform-origin: right center 0px;
  transition: transform 500ms ease 0s;
  z-index: 3;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: white;
}

@media screen and (max-width: 800px){
  .header{
    padding: 0px 16px;
  }
  .searchBar{
    display: none;
  }
}