.hsm-titleBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hsm-bottunContainer {
  display: flex;
  align-items: center
}
.hsm-bottun {
  width: 40px;
  height: 40px;
  background-color: rgb(245, 245, 245);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}
.hsm-foodContainer {
  display: flex;
  transform: translateX(0%) translateX(0px);
  transition: transform 333ms ease-out 0s;
}
.hsm-transform {
  transform: translateX(-100%) translateX(-24px);
}
.hsm-foodContainerTop{
  width: 100%;
  overflow: hidden;
}
@media screen and (max-width:800px){
  .hsm-bottunContainer{
    display: none;
  }
  .hsm-foodContainerTop{
    overflow-x: scroll;
    margin-bottom: 20px;
    padding-bottom: 15px;
  }
}