.mainBanner {
  margin: 0px auto;
  min-width: 1024px;
  max-width: 1920px;
  box-sizing: border-box;
  position: relative;
}

.mainBanner-sidePhoto{
  z-index: 1;
  height: 415px;
  background-color: rgb(244, 252, 222);
  position: relative;
}
.sidePhoto{
  z-index: -1;
  bottom: 0px;
  position: absolute;
  height: 100%;
}
.right{
  right: 0px;
}
.left{
  left: 0px;
}
.mainBanner-content {
  left: 50%;
  top: 50%;
  position: absolute;
  z-index: 1;
  transform: translate(-50%, -50%)
}
.mainBanner-content-text{
  text-align: center;
  margin-bottom: 4px;
  line-height: 44px;
  letter-spacing: 0.03em;
  font-size: 36px;
  color: rgb(31, 31, 31);
}
.mainBanner-content-form{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}
.mainBanner-content-form-button{
  background: rgb(62, 153, 32) none repeat scroll 0% 0%;
  width: auto;
  cursor: pointer;
  padding: 12px 16px;
  line-height: 24px;
  color: rgb(255, 255, 255);
  box-sizing: border-box;
  border-width: 0;
  margin: 0;
}

@media screen and (max-width: 800px){
  .mainBanner{
    min-width: unset;
  }
  .mainBanner-content {
    left: 0;
    top:0;
    transform: unset;
    display: flex;
    flex-direction: column;
    width: -moz-available;
    }
  .mainBanner-content-form {
    flex-direction: column;
    align-items: unset;
    padding: 0px 16px;
    margin-top: 15px
  }
  .mainBanner-content-text {
    font-size: 28px;
    text-align: unset;
    padding: 0px 16px;
  }
  .mainBanner-sidePhoto {
    height: 280px;
  }
  .sidePhoto {
    height: unset;
  }
}