.searchForm {
  display: flex;
  padding: 10px 16px;
  width: 540px;
  box-shadow: rgb(224, 224, 224) 0px -1px 0px inset;
  background-color: rgb(255, 255, 255);
}
.searchForm:focus-within {
    box-shadow: rgb(31, 31, 31) 0px -2px 0px inset;
    transition: box-shadow 0.3s ease-in-out 0s;
}
.searchInput {
  border: none;
  font-size: 16px;
  background-color: inherit;
  width: 100%;
}
.svgContainer{
  margin: 5px 10px 0px 0px;
}

@media screen and (max-width:800px){
  .searchForm {
    width: unset;
    margin: 15px 0px;
    
  }
}