body {
  background: rgb(245, 245, 245) none repeat scroll 0% 0%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h3 {
  margin: 10px 0px
}

a {
  text-decoration: none
}
hr {
  background-color: rgb(224, 224, 224);
  margin: 40px 0px;
  height: 1px;
  border: medium none;
}

@media screen and (max-width: 800px){
  hr {
    display: none
  }
}